.preview .collection-item {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 24%;
    margin-bottom: 2rem;

    .parent-image-container {
        width: 100%;
        height: 100%;
    }

    .collection-footer {
        display: flex;
        justify-content: space-between;
        font-size: 1.8rem;
    }
}

.image {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}
.name,
.price{
    cursor:default;
}

@media only screen and (min-width: 1024px) {
    .name:hover,
    .price:hover{
      transform: scale(1.1);
    }
    .parent-image-container {
        overflow: hidden;
    }

    .image:hover {
        transform: scale(1.4);
    }
}

@media only screen and (max-width:995px) {

    .preview .collection-item {
        width: 49%;
    }
}

@media only screen and (max-width:767px) {}

@media only screen and (max-width:540px) {
    .preview .collection-item {
        width: 100%;
    }
}

@media only screen and (max-width:320px) {}