.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .options {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header .option {
  font-size: 2.2rem;
  font-weight: bold;
  color: black;
  padding: 1rem;
  outline: none;
}

.logo-container {
  outline: none;
}

.menu-btn {
  position: absolute;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80px;
  height: 80px;
  cursor: pointer;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  top: 2.1rem;
  right: 1rem;
  display: none;
}

.menu-btn__burger {
  width: 50px;
  height: 6px;
  background: #000;
  border-radius: 5px;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
  content: '';
  position: absolute;
  width: 50px;
  height: 6px;
  background: #000;
  border-radius: 5px;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.menu-btn__burger::before {
  -webkit-transform: translateY(-16px);
          transform: translateY(-16px);
}

.menu-btn__burger::after {
  -webkit-transform: translateY(16px);
          transform: translateY(16px);
}

/* ANIMATION */
.menu-btn.open .menu-btn__burger {
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
  background: transparent;
}

.menu-btn.open .menu-btn__burger::before {
  -webkit-transform: rotate(45deg) translate(35px, -35px);
          transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn__burger::after {
  -webkit-transform: rotate(-45deg) translate(35px, 35px);
          transform: rotate(-45deg) translate(35px, 35px);
}

.noscroll {
  position: fixed;
  overflow-y: scroll;
  width: 100%;
}

@media only screen and (min-width: 1024px) {
  .option {
    cursor: pointer;
  }
  .logo-container:hover,
  .option:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@media only screen and (max-width: 767px) {
  .options {
    display: none;
  }
  .menu-btn {
    display: block;
    cursor: pointer;
    top: 4rem;
  }
  .menu-btn.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 2rem;
    right: 2rem;
  }
  .header .option {
    color: #fff;
  }
  .header.active {
    display: block;
    height: 100vh;
    background-color: #272727;
    margin: 0;
    width: 100%;
    overflow: hidden;
  }
  .logo-container.active {
    display: none;
  }
  .options.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 50vh;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #272727;
    position: absolute;
    top: 15vh;
    width: 100%;
    right: 0;
  }
  .header .option.active {
    display: none;
    color: white;
  }
  .menu-btn__burger.active {
    background: #fff;
  }
  .menu-btn__burger.active::before,
  .menu-btn__burger.active::after {
    background: #fff;
  }
}
/*# sourceMappingURL=header.styles.css.map */