.group {
  position: relative;
}

.form-input-label {
  display: block;
  font-size: 2.5rem;
  position: absolute;
  top:-0.8rem;
  left: 0.5rem;
  pointer-events: none;
}

.form-input {
  border: none;
  border-bottom: 1px solid grey;
  outline: none;
  font-size: 1.8rem;
  margin-bottom: 5rem ;
  width: 75%;
  &:focus~.form-input-label {
    font-size: 1.8rem;
    top:-3rem;
    left: 0;
  }
}
.shrink{
  font-size: 1.8rem;
  top:-3rem;
  left: 0;
}